@charset "UTF-8";

#content {
    /* 예시 스타일 */
    margin-top: 200px; /* 헤더 아래로 200px만큼 띄움 */
    margin-bottom: 200px; /* footer와의 거리를 설정합니다. */
    padding: 20px; /* 내부 여백 추가 */
    background-color: #FFFFFF; /* 배경색 지정 */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* 다른 요소 위에 놓이도록 설정 */
}