@charset "UTF-8";

#content {
	margin-top: 200px;
	margin-bottom: 200px;
	padding: 20px;
	background-color: #FFFFFF;
	text-align: center;
}

.floating-container {
	position: fixed;
	top: 200px;
	right: 10px;
	width: 300px;
	padding: 20px;
	background-color: #f3f3f3;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 999;
}

.floating-container table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
}

.floating-container table th, .floating-container table td {
	padding: 8px;
	border: 1px solid #ddd;
	text-align: left;
}

.button-container-right {
	margin-left: auto;
	gap: 10px;
}

.floating-container button {
	width: 90px;
	height: 45px;
	background-color: #007bff;
	border: none;
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin: 5px;
	box-sizing: border-box;
	font-size: 12px;
}

.floating-container button:hover {
	background-color: #0056b3;
}

.floating-table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px;
}

.floating-table .head {
	background-color: #ffffc7;
	border-color: #c0c0c0;
	text-align: center;
	vertical-align: middle;
	width: 50px;
}

.floating-table .body {
	border-color: #c0c0c0;
	text-align: center;
	vertical-align: middle
}

.button-container-top {
	display: flex;
	justify-content: space-between; /* 요소들을 공간에 맞게 배치 */
	margin-bottom: 5px; /* 위아래 간격 조정 */
}

.button-container-bottom {
	display: flex;
	justify-content: flex-start; /* 요소들을 왼쪽에 배치 */
}

.header-container1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-container h5 {
	margin-right: auto;
}

.header-container img {
	margin-right: 10px; /* 이미지와 텍스트 사이의 간격 조절 */
}

.divbtn {
	text-align: center;
}

.divbtn button {
	background-color: #007bff;
	border: none;
	color: #fff;
	padding: 20px 60px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin: 0 30px;
}

.divbtn button:hover {
	background-color: #0056b3;
}

.divbtn .cancel-btn {
	background-color: #ebeced; /* 회색 배경 */
	color: #fff;
}

.divbtn .cancel-btn:hover {
	background-color: #9fa7ac; /* hover 시 어두운 회색 */
}

.divbtnsml {
	display: flex;
}

.divbtnsml button {
	background-color: #007bff;
	border: none;
	color: #fff;
	padding: 5px 15px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin: 0 2px;
}

.divbtnsml button:hover {
	background-color: #0056b3;
}

.divbtnsml .cancel-btn {
	background-color: #a6a6a6; /* 회색 배경 */
	color: #fff;
}

.divbtnsml .cancel-btn:hover {
	background-color: #5a6268; /* hover 시 어두운 회색 */
}

.divtitle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.divtitle h3 {
	margin-right: 230px;
}

.divtitle form {
	margin-left: 230px;
}

.title-container {
	position: relative;
	display: inline-block;
}

.inline-headers h3 {
	display: inline-block;
	margin-right: 20px;
}

.table-container {
	position: relative;
	display: inline-block;
	text-align: left;
	width: 70%;
	margin: 0 auto;
}

/* index의 컨테이너 */
.table-container1 {
	position: relative;
	display: inline-block;
	margin: 0 auto;
}

/* 재직자 */
.tg .tg-jc02 {
	background-color: #efefef;
	border-color: #ffffff;
	text-align: center;
	vertical-align: middle
}

.tg .tg-ev56 {
	background-color: #ea5d89;
	border-color: #ffffff;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	vertical-align: middle
}
/* 인원별 */
.tg {
	border-collapse: collapse;
	border-spacing: 0;
	display: inline-block;
}

.tg td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Comic Sans MS;
	font-size: 25px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	width: 131px;
	height: 40px;
}

.tg th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	width: 131px;
	height: 40px;
}

.tg .tg-jc02 {
	background-color: #efefef;
	border-color: #ffffff;
	text-align: center;
	vertical-align: middle
}

.tg .tg-c5zh {
	background-color: #70b5e2;
	border-color: #ffffff;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	vertical-align: middle
}

/* 급여현황 */
.pay {
	border-collapse: collapse;
	border-spacing: 0;
	min-width: 800px;
	min-height: 50px;
}

.pay td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.pay th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.pay .pay-head {
	background-color: #dff3fa;
	border-color: #c0c0c0;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	min-width: 160px;
	min-height: 50px;
	min-width: 160px;
}

.pay .pay-body {
	border-color: #c0c0c0;
	text-align: center;
	vertical-align: middle;
}

.pay .pay-total {
	border-color: #c0c0c0;
	text-align: right;
	vertical-align: middle;
}

/* 사원등록페이지 */
.empRegister {
	border-collapse: collapse;
	border-spacing: 0;
	border-top: 3px solid #4499fa;
}

.empRegister td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.empRegister th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.empRegister .empRegister-body {
	border-color: #c0c0c0;
	text-align: left;
}

.empRegister .empRegister-head1 {
	background-color: #F6FDFF;
	border-color: #c0c0c0;
	text-align: center;
	vertical-align: middle
}

.empRegister .empRegister-head2 {
	background-color: #fbfbfb;
	border-color: #c0c0c0;
	text-align: center;
	vertical-align: middle
}

.empRegister1 {
	border-collapse: collapse;
	border-spacing: 0;
	min-height: 50px;
	border-top: 3px solid #4499fa;
	table-layout: fixed;
	width: 100%;
}

.empRegister1 td {
	border-color: #c0c0c0;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.empRegister1 th {
	border-color: #c0c0c0;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.empRegister1 .empRegister-body {
	border-color: #c0c0c0;
	text-align: left;
	height: 20px;
}

.empRegister1 .empRegister-head1 {
	background-color: #F6FDFF;
	border-color: #c0c0c0;
	text-align: center;
	vertical-align: middle;
	height: 20px;
}

.empRegisterr {
	border-collapse: collapse;
	border-spacing: 0;
	min-height: 50px;
	border-top: 3px solid #4499fa;
	table-layout: fixed;
	width: 100%;
}

.empRegisterr td {
	border-color: #c0c0c0;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.empRegisterr th {
	border-color: #c0c0c0;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.empRegisterr .empRegister-body {
	border-color: #c0c0c0;
	text-align: center;
	height: 20px;
}

.empRegisterr .empRegister-head1 {
	background-color: #F6FDFF;
	border-color: #c0c0c0;
	text-align: center;
	vertical-align: middle;
	height: 20px;
}

.empRegister2 {
	border-collapse: collapse;
	border-spacing: 0;
	min-height: 50px;
	border-top: 3px solid #4499fa;
	table-layout: fixed;
	width: 100%;
	text-align: center;
}

.empRegister2 td {
	border-color: #c0c0c0;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.empRegister2 th {
	border-color: #c0c0c0;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.empRegister2 .empRegister-body {
	border-color: #b3b3b3;
	text-align: center;
	height: 20px;
}

.empRegister2 .empRegister-head1 {
	background-color: #d5d5d5;
	border-color: #b3b3b3;
	text-align: center;
	vertical-align: middle;
	height: 20px;
}

.empRegisterblack {
	border-collapse: collapse;
	border-spacing: 0;
	min-height: 50px;
	border-top: 3px solid #000000;
	table-layout: fixed;
	width: 100%;
	border-left: 0px;
	border-right: 0px;
}

.empRegisterblack td, .empRegisterblack th {
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	min-height: 50px;
	border-color: gray;
	border-style: solid;
	border-width: 1px;
	border-left: 0px;
	border-right: 0px;
}

.empRegisterblack .empRegister-body {
	border-color: #c0c0c0;
	text-align: left;
	height: 20px;
}

.empRegisterblack .empRegister-head1 {
	background-color: #dff3fa;
	border-color: #c0c0c0;
	text-align: center;
	vertical-align: middle;
	height: 20px;
}

.reginput {
	border: none;
	width: 47%;
}

.reginputhide {
	border: none;
	width: 95%;
}

.reginputhidepay {
	border: none;
	width: calc(100% - 30px);
}

.reginputhidepay+span {
	margin-left: 5px
}

.reginputhide1 {
	border: none;
	width: 95%;
}

.reginput:focus {
	border: 1px solid black;
}

.reginput-select {
	border: 1px solid #c0c0c0;
	border-radius: 4px;
	padding: 4px;
}

.reginput-select:focus {
	outline: none;
	border-color: #696969;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px; /* 버튼과 숫자 사이의 간격 조정 */
	margin: 20px 0; /* 상하 여백 추가 */
}

.pagination button, .pagination span {
	font-size: 14px; /* 폰트 크기 조정 */
}

.pagination button {
	background-color: transparent;
	border: none;
	color: #000;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.pagination button:hover {
	background-color: #e3e3e3;
}

.pagination-symbol {
	color: #ff0000; /* 기호의 색상 설정 */
}

.holiday-body:hover {
	background-color: #f0faff; /* 호버 시 배경색 변경 */
	cursor: pointer;
}

.search-container {
	display: flex;
	gap: 40px; /* 간격 설정 */
}

.search-containerr {
	margin-left: 150px;
	margin-right: 150px;
}

.table-containerr {
	margin-bottom: 30px;
	margin-left: 150px;
	margin-right: 150px;
}

.flex-containerr {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.form-containerr {
	margin-left: 20px;
}

.title-table-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.title-table-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.dayWorker-container {
	display: flex;
	gap: 20px; /* 간격 설정 */
}

.day-worker-table {
	width: 100%;
	height: 40px;
	border-collapse: collapse;
	border-spacing: 0;
	border-top: 3px solid #4499fa;
	table-layout: fixed;
	font-size: 14px;
	text-align: center;
}

.day-worker-table .empRegister-head {
	background-color: #dff3fa;
	border-color: #c0c0c0;
	text-align: center;
	vertical-align: middle;
	height: 20px;
}

.day-worker-form-table {
	width: 100%;
	border-collapse: collapse;
}

.day-worker-table th, .day-worker-table td, .day-worker-form-table th,
	.day-worker-form-table td {
	border: 1px solid #ddd;
	padding: 8px;
}

.input-field, .select-field {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	margin-bottom: 10px;
}

.all-button {
	background-color: #007bff; /* 파란색 */
	color: #ffffff; /* 흰색 */
	border: none;
	border-radius: 5px; /* 모서리 둥글게 */
	padding: 4px 10px; /* 내부 여백 설정 */
	cursor: pointer;
	transition: background-color 0.3s ease; /* 호버 효과를 위한 transition */
}

.all-button:hover {
	background-color: #0056b3; /* 호버 시 색상 변화 */
}

.all-buttons {
	background-color: #dedede;
	color: #ffffff; /* 흰색 */
	border: none;
	border-radius: 5px; /* 모서리 둥글게 */
	padding: 4px 10px; /* 내부 여백 설정 */
	cursor: pointer;
	transition: background-color 0.3s ease; /* 호버 효과를 위한 transition */
}

.all-buttons:hover {
	background-color: #d2d2d2; /* 호버 시 색상 변화 */
}

#all-button {
	background-color: #007bff; /* 파란색 */
	color: #ffffff; /* 흰색 */
	border: none;
	border-radius: 5px; /* 모서리 둥글게 */
	padding: 4px 10px; /* 내부 여백 설정 */
	cursor: pointer;
	transition: background-color 0.3s ease; /* 호버 효과를 위한 transition */
}

#all-button:hover {
	background-color: #0056b3; /* 호버 시 색상 변화 */
}

#searchButton {
	background-color: transparent; /* 배경 색상 투명으로 설정 */
	border: none; /* 테두리 없음 */
	cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능성을 나타냄 */
}

#searchButton img {
	width: 24px; /* 이미지 너비 조정 */
	height: 24px; /* 이미지 높이 조정 */
}

.button-container1 {
	display: flex;
	justify-content: center; /* 가운데 정렬 */
}

.button-container1 input {
	margin-right: 10px; /* 버튼 사이에 간격 추가 */
	background-color: blue !important; /* 버튼 배경색 파란색 */
	color: white !important; /* 버튼 텍스트 색상 흰색 */
	border: none; /* 기본 테두리 제거 */
	padding: 10px 20px; /* 패딩 추가 */
	font-size: 16px; /* 글꼴 크기 */
	cursor: pointer; /* 커서 포인터로 변경 */
	border-radius: 5px; /* 둥근 모서리 */
}

.form-container {
	display: flex;
}

.red-box, .grey-box {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 7px;
	padding-right: 7px;
	display: flex;
	align-items: center;
}

.red-box {
	background-color: red;
	color: white;
}

.grey-box {
	background-color: #a6a6a6;
	color: black;
}

.white-grey-box {
	background-color: #eeeeee;
	color: black;
}

.red-box label, .grey-box label {
	margin-right: 10px;
}

.red-box select, .grey-box input, .grey-box select {
	margin-right: 10px;
}

/* 급여 종합 정보 사각형 */
.rectangle-container {
	display: flex;
}

.rectangle {
	width: calc(25% - 15px);
	height: 50px;
	margin-right: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	border-radius: 10px;
}

.rectanglee {
	width: calc(25% - 15px);
	height: 40px;
	margin-right: 15px;
	display: flex;
	align-items: center;
	padding: 2px 20px;
	justify-content: space-around;
}

.redd {
	background-color: #E17A7D;
	color: white;
}

.gray {
	background-color: gray;
	color: white;
}

.sky-blue {
	background-color: #9dd6ee;
	color: white;
}

.orange {
	background-color: #ff7594;
	color: white;
}

.dark-gray {
	background-color: darkgray;
	color: white;
}

.dark-grayy {
	background-color: #d5d5d5;
	color: black;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}