<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.mapper.EmpMapper">

    <select id="getAllEmployee" resultType="org.spring.domain.EmployeeEntity">
        SELECT * FROM employee
    </select>
    
    <select id="countByStatusEmployed" resultType="long">
        SELECT COUNT(*) FROM employee WHERE status = '재직'
    </select>

    <select id="countByEmploymentTypeRegular" resultType="long">
        SELECT COUNT(*) FROM employee WHERE employment_type = '정규직'
    </select>

    <select id="countByEmploymentTypeContract" resultType="long">
        SELECT COUNT(*) FROM employee WHERE employment_type = '계약직'
    </select>

    <select id="countByEmploymentTypeTemporary" resultType="long">
        SELECT COUNT(*) FROM employee WHERE employment_type = '임시직'
    </select>

    <select id="countByEmploymentTypeDispatched" resultType="long">
        SELECT COUNT(*) FROM employee WHERE employment_type = '파견직'
    </select>

    <select id="countByEmploymentTypeAppointed" resultType="long">
        SELECT COUNT(*) FROM employee WHERE employment_type = '위촉직'
    </select>

    <select id="countByEmploymentTypeDaily" resultType="long">
        SELECT COUNT(*) FROM employee WHERE employment_type = '일용직'
    </select>

    <select id="countByStatusResigned" resultType="long">
        SELECT COUNT(*) FROM employee WHERE status = '퇴사'
    </select>

    <select id="countAllEmployees" resultType="long">
        SELECT COUNT(*) FROM employee
    </select>
    
</mapper>
