<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="org.spring.domain.attendance.mapper.AttendanceTypeMapper">

	<resultMap id="AttendanceTypeResultMap"
		type="org.spring.domain.attendance.model.AttendanceTypeEntity">
		<id property="attendanceTypeId" column="attendance_type_id" />
		<result property="attendanceTypeName" column="attendance_type_name" />
		<result property="unit" column="unit" />
		<result property="attendanceGroupId" column="attandance_group_id" />
		<result property="vacationTypeId" column="vacation_type_id" />
		<result property="attendanceUsage" column="usage" /> <!-- Changed column name -->
	</resultMap>

	<select id="getAllAttendanceTypes"
		resultMap="AttendanceTypeResultMap">
		SELECT * FROM attendance_type
	</select>


	<select id="getAttendanceTypeById" parameterType="long"
		resultMap="AttendanceTypeResultMap">
		SELECT * FROM attendance_type WHERE attendance_type_id = #{attendanceTypeId}
	</select>

	<insert id="createAttendanceType"
		parameterType="org.spring.domain.attendance.model.AttendanceTypeEntity">
		INSERT INTO attendance_type (attendance_type_id, attendance_type_name, unit, attandance_group_id, vacation_type_id,
		usage) <!-- Changed column name -->
		VALUES (attendance_type_seq.nextval, #{attendanceTypeName}, #{unit}, #{attendanceGroupId}, #{vacationTypeId}, #{attendanceUsage}) <!-- Changed column name -->
	</insert>

	<update id="updateAttendanceType"
		parameterType="org.spring.domain.attendance.model.AttendanceTypeEntity">
		UPDATE attendance_type
		SET attendance_type_name = #{attendanceTypeName}, unit =
		#{unit}, attandance_group_id = #{attendanceGroupId}, vacation_type_id = #{vacationTypeId}, usage = #{attendanceUsage} <!-- Changed column name -->
		WHERE attendance_type_id = #{attendanceTypeId}
	</update>

	<delete id="deleteAttendanceType" parameterType="long">
		DELETE FROM attendance_type WHERE attendance_type_id = #{attendanceTypeId}
	</delete>

</mapper>
