<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.domain.attendance.mapper.AttMapper">
    <select id="getEmployeeAttendance" resultType="org.spring.domain.attendance.controller.AttendanceEntityRequest">
       SELECT
		    ad.input_date AS input_date,
		    ep.employment_type AS employment_type,
		    ep.korean_name AS korean_name,
		    dp.department_name AS department_name,
		    po.position_name AS position_name,
		    adt.attendance_type_name AS attendance_type_name,
		    ad.start_date AS start_date,
		    ad.end_date AS end_date,
		    ad.attendance_days AS attendance_days,
		    ad.amount AS amount,
		    ad.summary AS summary
		FROM
		    attendance ad
		JOIN
		    employee ep ON ad.employee_id = ep.employee_id
		JOIN
		    attendance_type adt ON ad.attendance_type_id = adt.attendance_type_id
	
		JOIN
		    department dp ON ep.department_id = dp.department_id
		JOIN
		    position po ON ep.position_id = po.position_id
		    
		 <where>
            <if test="inputDate != null">
                AND ad.input_date = #{inputDate}
            </if>
            <if test="startDate != null and endDate != null">
                AND ad.start_date BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="departmentName != null and departmentName != ''">
                AND dp.department_name = #{departmentName}
            </if>
            <if test="koreanName != null and koreanName != ''">
                AND ep.korean_name = #{koreanName}
            </if>
            <if test="attendanceTypeName != null and attendanceTypeName != ''">
                AND adt.attendance_type_name = #{attendanceTypeName}
            </if>
            <if test="vacationTypeName != null and vacationTypeName != ''">
                AND vt.vacation_type_name = #{vacationTypeName}
            </if>
            <if test="attendanceGroupName != null and attendanceGroupName != ''">
                AND ag.attendance_group_name = #{attendanceGroupName}
            </if>
            <if test="summary != null and summary != ''">
                AND ad.summary = #{summary}
            </if>
        </where>
		    
    </select>
	
	<select id="getDayWorkerList" parameterType="map" resultType="org.spring.domain.employee.model.EmployeeEntity">
		SELECT * FROM employee
        <where>
            employment_type = '일용직'
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="srchKwrd != null and srchKwrd != ''">
                AND (
                    employee_id LIKE '%' || #{srchKwrd} || '%'
                    OR korean_name LIKE '%' || #{srchKwrd} || '%'
                    OR department_id LIKE '%' || #{srchKwrd} || '%'
                )
            </if>
        </where>
        ORDER BY employee_id DESC
	</select>
	
	<select id="selectFeildOrProject" resultType="org.spring.domain.attendance.model.FeildOrProjectIdEntity">
        SELECT * FROM feild_or_project
    </select>
   <!--  
    <select id="getEmployeeStatus" parameterType="string" resultType="org.spring.domain.employee.model.EmployeeEntity">
    	SELECT * FROM employee 
    	WHERE employment_type = '일용직'
    	<if test="value != null and value != ''">
            AND status = #{status}
        </if>
        ORDER BY employee_id DESC
    </select>
	 -->
	<select id="getDayWorkertatus" resultType="org.spring.domain.employee.model.EmployeeEntity">
		SELECT status FROM employee WHERE employment_type = '일용직'
	</select>
	
	<update id="updateFeildOrProject">
		
	</update>
</mapper>
