<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.domain.Attendance.mapper.AttMapper">
    <select id="getEmployeeAttendance" resultType="org.spring.domain.Attendance.model.AttendanceEntity">
        SELECT 
            a.input_date,
            e.employment_type,
            e.korean_name,
            e.department_id,
            e.position_id,
            a.attendance_type_id,
            a.start_date,
            a.end_date,
            a.attendance_days,
            a.amount,
            a.summary
        FROM 
            employee e
        JOIN 
            attendance a ON e.employee_id = a.employee_id;
    </select>

</mapper>
