<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.domain.Employee.mapper.EmpMapper">

	<!-- 전직원 정보 -->
	<select id="getAllEmployee"
		resultType="org.spring.domain.Employee.model.EmployeeEntity">
		SELECT * FROM employee
	</select>

	<!-- 급여정보 연도 -->
	<select id="getYearWage"
		resultType="org.spring.domain.Employee.mapper.EmpMapper"> 
		SELECT * FROM wage WHERE TO_CHAR(wage_payment_date,'YYYY') = #{year}
	</select>

	<!-- 전직원 인원수 -->
	<select id="getTotalEmployeeCount" resultType="Long">
		SELECT COUNT(*)
		FROM employee
	</select>

	<!-- 정규직 인원수 -->
	<select id="getFulltimeEmployeeCount" resultType="Long">
		SELECT COUNT(*)
		FROM employee WHERE employee.employment_type = 'fulltimeEmployee'
	</select>

	<!-- 계약직 인원수 -->
	<select id="getContractEmployeeCount" resultType="Long">
		SELECT COUNT(*)
		FROM employee WHERE employee.employment_type = 'contractEmployee'
	</select>

	<!-- 임시직 인원수 -->
	<select id="getTemporaryEmployeeCount" resultType="Long">
		SELECT
		COUNT(*) FROM employee WHERE employee.employment_type =
		'temporaryEmployee'
	</select>

	<!-- 일용직 인원수 -->
	<select id="getDailyWorkerCount" resultType="Long">
		SELECT COUNT(*) FROM
		employee WHERE employee.employment_type = 'dailyWorker'
	</select>



	<select id="countByStatusEmployed" resultType="long">
		SELECT COUNT(*)
		FROM employee WHERE status = '재직'
	</select>

	<select id="countByEmploymentTypeRegular" resultType="long">
		SELECT
		COUNT(*) FROM employee WHERE employment_type = '정규직'
	</select>

	<select id="countByEmploymentTypeContract" resultType="long">
		SELECT
		COUNT(*) FROM employee WHERE employment_type = '계약직'
	</select>

	<select id="countByEmploymentTypeTemporary" resultType="long">
		SELECT
		COUNT(*) FROM employee WHERE employment_type = '임시직'
	</select>

	<select id="countByEmploymentTypeDispatched" resultType="long">
		SELECT
		COUNT(*) FROM employee WHERE employment_type = '파견직'
	</select>

	<select id="countByEmploymentTypeAppointed" resultType="long">
		SELECT
		COUNT(*) FROM employee WHERE employment_type = '위촉직'
	</select>

	<select id="countByEmploymentTypeDaily" resultType="long">
		SELECT
		COUNT(*) FROM employee WHERE employment_type = '일용직'
	</select>

	<select id="countByStatusResigned" resultType="long">
		SELECT COUNT(*)
		FROM employee WHERE status = '퇴사'
	</select>

	<select id="countAllEmployees" resultType="long">
		SELECT COUNT(*) FROM
		employee
	</select>


</mapper>
