<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.domain.vacation.mapper.VacationMapper">
    <select id="getAllVacationDetails" resultType="org.spring.domain.vacation.model.VacationDetailsEntity">
        SELECT 
            vt.vacation_type_name AS 휴가_종류,
            e.employment_type AS 고용_형태,
            e.employee_id AS 사원번호,
            d.department_name AS 부서명,
            e.korean_name AS 성명,
            p.position_name AS 직위명,
            vd.vacation_value AS 휴가_일수
        FROM 
            vacation_days vd
        JOIN 
            vacation_type vt ON vd.vacation_type_id = vt.vacation_type_id
        JOIN 
            employee e ON vd.employee_id = e.employee_id
        JOIN 
            department d ON e.department_id = d.department_id
        JOIN 
            position p ON e.position_id = p.position_id
        ORDER BY 
            vt.vacation_type_name, e.department_id, e.position_id, e.employee_id;
    </select>
</mapper>